<template>
  <div class="hello">
    <h2>HOMES</h2>
    <button type="button" @click='getHomes' class="btn btn-primary">GETTING HOMES</button>
  </div>
</template>

<script>

import { mapGetters } from 'vuex';
// import store from '../store';

export default {
  name: 'Homes',

  computed: mapGetters({
    homes: 'homes'
  }),
  methods: {
    getHomes: function() {
      this.$store.dispatch("getHomes")
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.hello {
  margin: 20px;
}
</style>
