<template>
  <div class='row'>
    <div class="hello col-sm-5">
      <h2>KINDERGARTENS</h2>
      <button type="button" @click='getListKindergartens' class="btn btn-primary">GETTING List Kindergartens</button>
    </div>

    <div class='col-sm-5'>
      <select v-model="selected" class="form-control">
        <option v-for="kindergarten in kindergartens" v-bind:value="kindergarten.id">
           {{ kindergarten.name }}
         </option>
     </select>
    </div>
  </div>
</template>

<script>

import { mapGetters } from 'vuex';
// import store from '../store';

export default {
  name: 'Kindergartens',
  data(){
    return {
      selected: ''
    }
  },

  computed: mapGetters({
    kindergartens: 'kindergartens'

  }),
  methods: {
    getListKindergartens: function() {
      this.$store.dispatch("getListKindergartens")
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.hello {
  margin: 20px;
}
</style>
