<template>
  <div class='row'>

    <div class="hello col-sm-5">
      <h2>Payments</h2>
      <button type="button" @click='getAccountForPayment' class="btn btn-primary">Payment communal</button>
      <button type="button" @click='setKindergartensPayment' class="btn btn-primary">Payment Kindergartens</button>
    </div>
    <div class="hello col-sm-5">
      <form v-if="current_type_payment==1" v-on:submit.prevent='sendPaymentToApi'>
        <div  class="form-group" v-for="(item, index) in account.services">
          <label for="exampleInputEmail1">{{ item.title }}</label>
          <input type="text" class="form-control" v-model="form[index].summ">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>


      <div v-else-if="current_type_payment==2" v-for="(item, index) in kindergartensPayments">
        <form v-on:submit.prevent='sendKindergartensPaymentToApi(index)'>
            <div class="form-row">
              <div class='form-group col'>
                <label for="inputEmail4">Name</label>
                <input type="text" class="form-control" v-model="form[index].first_name" disabled='true'>
              </div>
              <div class='form-group col'>
                <label for="inputEmail4">Last Name</label>
                <input type="text" class="form-control" v-model="form[index].last_name" disabled='true'>
              </div>
            </div>
            <div class="form-row">
              <div class='form-group col-sm-3'>
                <label for="inputEmail4">ID Kindtens</label>
                <input type="text" class="form-control" v-model="form[index].kindergarten_id" disabled='true'>
              </div>
              <div class='form-group col-sm-3'>
                <label for="inputEmail4">GroupNo</label>
                <input type="text" class="form-control" v-model="form[index].group_no" disabled='true'>
              </div>
              <div class='form-group col-sm-3'>
                <label for="inputEmail4">GroupNo</label>
                <input type="text" class="form-control" v-model="form[index].number" disabled='true'>
              </div>
            </div>
            <!-- <label for="exampleInputEmail1">{{ item.first_name }}</label> -->
            <div class="form-row">
              <div class='form-group col-sm-3'>
                <label for="inputEmail4">SummPay</label>
                <input type="text" class="form-control" v-model="summ">
              </div>
              <div class='form-group col-sm-3'>
                <label for="inputEmail4">Tax</label>
                <input type="text" class="form-control" v-model="tax" disabled='true'>
              </div>
              <div class='form-group col-sm-3'>
                <label for="inputEmail4">Total</label>
                <input type="text" class="form-control" v-model="total" disabled='true'>
              </div>
            </div>

            <!-- <input type="text" class="form-control" v-model="form[index].group_no" disabled='true'>
            <input type="text" class="form-control" v-model="form[index].kindergarten_id" disabled='true'>
            <input type="text" class="form-control" v-model="form[index].number" disabled='true'>
            <input type="text" class="form-control" v-model="form[index].number" disabled='true'> -->
          <!-- <button type="submit" class="btn btn-primary">Submit</button> -->

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>


      <form v-if="platon" action="https://secure.platononline.com/payment/auth" method="post" >
        <input type="hidden" name="payment" v-model="platon.payment" />
        <input type="hidden" name="key" v-model="platon.key" />
        <input type="hidden" name="url" v-model="platon.url" />
        <input type="hidden" name="order" v-model="platon.order" />
        <input type="hidden" name="data" v-model="platon.data" />
        <input type="hidden" name="sign" v-model="platon.sign" />
        <input type="hidden" name="email" value="shesser@i.ua" />
        <button type="submit" class="btn btn-primary">To PLaton</button>
      </form>

    </div>
  </div>
</template>

<script>

import { mapGetters } from 'vuex';
// import store from '../store';

export default {
  name: 'Payments',

  data() {
    return {
      data_body: {
        "payment": {
          "date_from": "2018-06-01",
          "date_to": "2018-06-01",
          "key_field": null,
          "pay_type_id": "1",
          "payment_services_attributes": {}
        }
      },
      data_kinder: {
        "payment": {
          "date_from": "2018-06-01",
          "date_to": "2018-06-01",
          "key_field": null,
          "pay_type_id": "2",
          "pay_sum": 0,
          'value': 0,
          'tax': 0,
        }
      },
      current_type_payment: 0,
      summ: 0,
      kindergarten_summ: {
        tax: 3
      }
    }
  },

  computed: {
    platon() {
      if (this.$store.state.payment.platon === 'undefined') {
        return false
      }
      return this.$store.state.payment.platon
    },
    homes() {
      return this.$store.state.homes.homes
    },
    current_home() {
      return this.homes[5]
    },

    account(){
        return this.$store.state.account.account
      },
    form(){
      if(this.current_type_payment == 1) {
        return this.account.services
      }else if (this.current_type_payment == 2){
        return this.kindergartensPayments
      }

    },
    kindergartensPayments(){
      return this.$store.state.kindergartens.kindergartensPayments
    },
    coef: function(){
      return 1 - this.kindergarten_summ.tax / 100
    },
    total: function() {
      var summ =  this.summ ? this.summ : 0.00;
      return (parseFloat(summ) / this.coef).toFixed(2)
    },
    tax: function() {
      return (this.total - parseFloat(this.summ)).toFixed(2)
    }
  },

  methods: {
    getAccountForPayment: function() {
      if(typeof this.current_home !== 'undefined') {
          this.$store.dispatch('getAccountForPayment', this.current_home.id)
          this.current_type_payment = 1
      }else{
        console.log('undefined current_home')
      }
    },
    setKindergartensPayment() {
      this.$store.dispatch('getKindergartenPayments')
      this.current_type_payment = 2
    },

    sendPaymentToApi: function() {
      var that = this
      // console.log(this.form)
      this.data_body.payment.key_field = this.current_home.id

      this.form.map(function(value, key) {
        that.data_body.payment.payment_services_attributes[key] = that.make_servise(value)
      })
      console.log(that.data_body.payment)
      this.$store.dispatch('sendPayment', this.data_body)
    },




    sendKindergartensPaymentToApi: function(index) {
      // console.log(this.form)
      this.data_kinder.payment.key_field = this.form[index].id
      this.data_kinder.payment.pay_sum = this.summ
      this.data_kinder.payment.value = this.total
      this.data_kinder.payment.tax = this.tax

      this.$store.dispatch('sendPayment', this.data_kinder)
    },



    make_servise(resource){
      return {
        "pay_summ": resource.summ,
        "personal_account": resource.personal_account,
        "service_id": resource.id,
        "provider_id": resource.provider.id
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.hello {
  margin: 20px;
}
</style>
