<template>
  <div class="hello">
    <h2>Users</h2>
    <button type="button" @click='sendRequest' class="btn btn-primary">autorisation</button>
    <button type="button" @click='getCurrentUser' class="btn btn-secondary">get current_user</button>
    <button type="button" @click='logout' class="btn btn-secondary">logout</button>
  </div>
</template>

<script>

import { mapGetters } from 'vuex';
// import store from '../store';

export default {
  name: 'Users',
  data () {
    return {
      msg: 'Users from data',
      // aut_body: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyIjp7ImxvZ2luIjoic2hlc3NlciIsInBhc3N3b3JkIjoic2hlc3MxOTgzIn19.Wn4cbUMyI89VTGsVbzql1mEcqjaVPnvFGI_D1v8MbaY'
      aut_body: "eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyIjp7ImxvZ2luIjoic2lkb3JvZmYiLCJwYXNzd29yZCI6IjEyMzQifX0.kTAdJzHC7iqsTTJVXzxnCQPfpfXfNZYh94M5ZwLnQ5M"
    }
  },
  methods: {
    getCurrentUser: function() {
      this.$store.dispatch("getCurrentUser")
    },
    sendRequest: function () {
        // let obj = {user:{ login: 'shesser', password: 'shess1983'}}

       this.$store.dispatch("sign_in", {data:this.aut_body})
    },
    logout: function() {
        this.$store.dispatch("logout")
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.hello {
  margin: 20px;
}
</style>
