<template>
  <div id="app">
    <router-link to="/">Go to HEAD</router-link>
    <router-link to="/users">Users</router-link>
    <router-link to="/homes">Homes</router-link>
    <router-link to="/payments">PAYMENTS</router-link>
    <router-link to="/kindergartens">Kindergartens</router-link>
    <p v-if='user'>
        user login is <b>{{user.login}}</b>
    </p>

    <router-view/>

    <p><pre>{{info}}</pre></p>
  </div>
</template>

<script>

import { mapGetters } from 'vuex';

export default {
  name: 'App',


  computed: mapGetters({
    user: 'current_user',
    autorizate_user: 'autorizate_user',
    info: 'response'
  }),
  mounted(){
    this.init()
  },
  methods: {
    init() {
        this.$store.dispatch("getCurrentUser")
    }
  }
}

</script>

<style>
/* #app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */
</style>
